{% extends 'base.html' %}

{% block contend %}


<div class="card mx-auto p-3 mt-5" style="width: 75rem;">
  <div class="mx-auto">
    <img src="{{object.image.url}}" class="card-img-top" alt="..." style="width:300px; height:300px;">
  </div>

  <div class="card-body">
    <h5 class="card-title">{{object.title}}</h5><br>
    <small>By {{object.author}}</small><small>- {{object.date}}</small><hr>
    <p class="card-text">{{object.content}}</p>
      {% if user.id == object.author.id %}
        <a href="{% url 'update-article' object.pk %}" class="btn btn-primary">Edit</a>
      {% endif  %}
  </div>
</div>


{% endblock %}